// Fonts
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Roboto:300,400,500');
// Colors
$mint: #6bc097;
$lighter-blue: #7086de;
$light-blue: #687dd8;
$medium-blue: #5b72d2;
$dark-blue: #435bbd;
$gray: #edeeef;
$white: #ffffff;
$black: #000000;
$black-op: rgba(0,
0,
0,
.65);
$light-gray: rgba(0,
0,
0,
0.1);
.donate-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $white;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  left: -120%;
  bottom: 0;
  right: 0;
  z-index: 99999;
  transition: all .3s ease-in-Out;
  .close-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin: 5px;
    width: 3em;
    height: 3em;
    right: 0;
    cursor: pointer;
    z-index: 99999999;
    span {
      position: absolute;
      display: block;
      width: 2em;
      height: 1px;
      background-color: $black-op;
      margin: 0 auto;
      transform: rotate(45deg);
      &:after {
        position: relative;
        display: block;
        content: '';
        width: 100%;
        height: 1px;
        background-color: inherit;
        transform: rotate(90deg);
      }
    }
  }
  .modal-info {
    background-color: $gray;
    display: block;
    height: auto;
    width: 100%;
    padding: 60px 0;
    transition: all .3s ease-in-Out;
    svg {
      display: block;
      width: 7em;
      margin: 0 auto;
    }
    
    .heart {
      fill: none;
    }
    
    .fill-heart {
      animation: heart .5s cubic-bezier(0.3, 0, 0, 1.35);
      animation-delay: .8s;
      animation-fill-mode: forwards; 
    }
    
    .dollar-body {
      transform: translateY(0px);
      stroke: $mint;
      transition: all .5s cubic-bezier(0.3, 0, 0, 1.35);
      transition-delay: .3s;
    }
    
    .dollar-body-animate {
      height: 43.6px;
      transform: translateY(41px);
    }
    
    .dollar-corner {
      transform: translateY(0px);
      transition: all .5s cubic-bezier(0.3, 0, 0, 1.35);
      transition-delay: .3s;
    }
    
    .dollar-corner-animate {
      transform: translateY(41px);
    }
    
    .dollar-head {
      transition: all .3s cubic-bezier(0.3, 0, 0, 1.35);
      transition-delay: .3s;
    }
    
    .dollar-head-animate {
      opacity: 0;
    }
    
    @keyframes heart {
      
      0% {
        fill: none;
        stroke-width: 5px;
      }
      
      50% {
        fill: $mint;
        stroke-width: 10px;
      }
      
      100% {
        fill: $mint;
        stroke-width: 5px;
      }
      
    }
    
    .donate-heading {
      font-family: 'Playfair Display', serif;
      font-weight: 400;
      font-size: 1em;
      width: 80%;
      padding: 0 10%;
      text-align: center;
      margin: 30px 0 0 0;
      color: $black-op;
      line-height: 200%;
    }
  }
  .thank-you-full-width {
    position: absolute;
    width: 100%;
    height: 100vh;
    padding: 0;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .modal-form-container {
    width: 90%;
    padding: 50px 5%;
    display: block;
    transition: all .3 ease-in-Out;
    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding-bottom: 50px;
      h2 {
        font-family: 'Roboto', sans-serif;
        font-size: 1.5em;
        font-weight: 300;
        padding-top: 25px;
        color: $black-op;
      }
      input,
      textarea {
        width: 90%;
        padding: 10px;
        font-size: .8em;
        color: $black-op;
        font-weight: 300;
        margin-bottom: 5px;
        border: 1px solid $light-gray;
        outline: none;
      }
      textarea {
        min-height: 50px;
      }
      .expiration-date,
      .cvc {
        width: 5em;
      }
      .secure-message {
        width: 100%;
        padding: 10px 0 0 0;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        img {
          height: 1em;
          padding-right: 10px;
        }
        p {
          font-family: 'Roboto', sans-serif;
          color: $black-op;
          font-size: .8em;
          font-weight: 300;
          margin: 0;
        }
      }
    }
    .submit-donation-btn {
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      width: 125px;
      padding: 10px 0;
      color: $white;
      text-decoration: none;
      text-transform: uppercase;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      font-size: .8em;
      background-color: $mint;
      border: 1px solid $white;
    }
  }
  .modal-form-container-hide {
    width: 0;
    height: 0;
    overflow: hidden;
  }
}

.open-modal {
  left: 0%;
}

.mobile-menu {
  background-color: $mint;
  display: block;
  height: 0;
  width: 0;
  opacity: 0;
  border-radius: 50% 30% 50% 50%;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 26px;
  right: 5.5%;
  overflow: hidden;
  z-index: 999;
  transform-origin: top right;
  transition: all .3s cubic-bezier(0.3, 0, 0, 1.35);
  .mobile-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style-type: none;
    opacity: 0;
    height: 50vh;
    transition: .3s cubic-bezier(0.3, 0, 0, 1.5) .25s;
    li {
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: auto;
      height: auto;
      a {
        color: $white;
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 300;
        letter-spacing: 1px;
        text-align: center;
        font-size: 1.2em;
        width: 100%;
        margin: 0;
        padding: 15px;
        transition: all .3s cubic-bezier(0.3, 0, 0, 1.5) .35s;
      }
      .display-links {
        margin: 10px 0;
      }
    }
  }
  .display-ul {
    opacity: 1;
    height: 100vh;
  }
}

.open-mobile-menu {
  width: 100%;
  height: 100%;
  border-radius: 0px;
  top: 0;
  right: 0;
  opacity: 1;
}

.background {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  display: block;
  width: 100%;
  height: 80vh;
  object-fit: cover;
  object-position: top;
}

.header {
  width: 100%;
  height: 80vh;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-color: $black-op;
  .nav-bar {
    width: 90%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    h3 {
      font-family: 'Roboto', sans-serif;
      font-size: 1em;
      font-weight: 300;
      text-transform: uppercase;
      background-color: $mint;
      color: $white;
      padding: .5em 1em;
    }
    .desk-nav {
      display: none;
    }
    .mobile-nav-btn {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 3em;
      height: 3em;
      border-radius: 50%;
      cursor: pointer;
      border: 2px solid $mint;
      background-color: $black-op;
      z-index: 999;
      span {
        width: 1.5em;
        height: 1px;
        margin: 0 .75em;
        display: block;
        position: absolute;
        background-color: $white;
        transition: all .3s cubic-bezier(0.3, 0, 0, 1.35);
        &:before {
          content: '';
          width: 100%;
          height: 100%;
          display: block;
          bottom: 5px;
          position: relative;
          background-color: inherit;
        }
        &:after {
          content: '';
          width: 100%;
          height: 100%;
          display: block;
          top: 5px;
          position: relative;
          background-color: inherit;
        }
      }
    }
    .close-btn {
      position: fixed;
      right: 5%;
      top: 1.5em;
      span {
        position: fixed;
        transform: rotate(45deg);
        &:before {
          opacity: 0;
        }
        &:after {
          transform: rotate(90deg);
          top: 0;
        }
      }
    }
  }
  .header-content {
    display: flex;
    position: absolute;
    left: 0;
    top: 40%;
    align-items: center;
    flex-direction: column;
    width: 90%;
    padding: 0 5%;
    h1 {
      color: $white;
      font-family: 'Playfair Display', serif;
      font-size: 2.1em;
      text-transform: uppercase;
      text-align: center;
      margin: 0;
      font-weight: 700;
    }
    h2 {
      color: $white;
      font-family: 'Playfair Display', serif;
      font-size: 1em;
      line-height: 150%;
      font-weight: 400;
      text-align: center;
    }
    .link-container {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: center;
      a {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 125px;
        padding: 10px 0;
        margin: 5px;
        color: $white;
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: .8em;
        background-color: none;
        border: 1px solid $white;
      }
      .donate-link {
        background-color: $mint;
        border: 1px solid $mint;
      }
    }
  }
}

.donate-now-bar {
  width: 80%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  background-color: $dark-blue;
  margin: 0 auto;
  margin-top: -30px;
  .quick-donate-title {
    display: none;
  }
  .quick-donate-options {
    display: none;
  }
  form {
    width: 42%;
    input {
      width: 100%;
      height: 35px;
      font-size: .6em;
      letter-spacing: .5px;
      border: none;
      background-color: $light-blue;
      color: $white;
      font-weight: 300;
      text-transform: uppercase;
      padding: 0 0 0 10px;
      outline: none;
      border-radius: 0px;
      &::placeholder {
        color: $white;
        opacity: .5;
      }
    }
  }
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42%;
    font-size: .7em;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 300;
    text-align: center;
    color: $white;
    background-color: $mint;
    height: 35px;
  }
}

.about {
  display: block;
  width: 90%;
  padding: 50px 5%;
  background-color: $white;
  h1 {
    text-align: center;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 2em;
    font-family: 'Playfair Display', serif;
    margin: 0;
  }
  p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: $black-op;
    line-height: 160%;
    font-size: .9em;
  }
}

.donation-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  padding: 100px 5%;
  background-color: $gray;
  .image-container {
    display: none;
    .donation-image {
      display: none;
    }
  }
  .donation-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
  h1 {
    text-align: left;
    font-weight: 400;
    font-size: 2em;
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding-bottom: 5px;
  }
  p {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    color: $black-op;
    line-height: 160%;
    font-size: .9em;
  }
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    font-size: .7em;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 300;
    text-align: center;
    color: $white;
    background-color: $mint;
    height: 35px;
    margin-top: 50px;
  }
}

.volunteer {
  display: flex;
  height: 500px;
}

@media screen and (min-width:768px) {
  .background {
    height: 80vh;
  }
  .header {
    height: 80vh;
    .header-content {
      top: 35%;
      h1 {
        font-size: 3.3em;
      }
      h2 {
        width: 30%;
      }
      .link-container {
        margin-top: 20px;
        a {
          display: flex;
          text-align: center;
          align-items: center;
          justify-content: center;
          width: 150px;
          padding: 12px 0;
          margin: 5px;
          color: $white;
          text-decoration: none;
          text-transform: uppercase;
          font-family: 'Roboto', sans-serif;
          font-weight: 300;
          font-size: .8em;
          background-color: none;
          border: 1px solid $white;
        }
        .donate-link {
          background-color: $mint;
          border: 1px solid $mint;
        }
      }
    }
  }
  .donation-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    padding: 100px 5%;
    background-color: $gray;
    .image-container {
      display: none;
      .donation-image {
        display: none;
      }
    }
    .donation-content {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 60%;
      padding: 20px 20%;
    }
    h1 {
      text-align: left;
      font-weight: 400;
      font-size: 2em;
      font-family: 'Playfair Display', serif;
      margin: 0;
      padding-bottom: 5px;
    }
    p {
      text-align: left;
      font-family: 'Roboto', sans-serif;
      color: $black-op;
      line-height: 200%;
      font-size: .9em;
    }
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 150px;
      font-size: .7em;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 300;
      text-align: center;
      color: $white;
      background-color: $mint;
      height: 35px;
      margin-top: 50px;
    }
  }
  .about {
    width: 60%;
    padding: 100px 20%;
    h1 {
      font-weight: 400;
      font-size: 2em;
      margin: 0 0 30px 0;
    }
    p {
      text-align: center;
      font-family: 'Roboto', sans-serif;
      color: $black-op;
      line-height: 200%;
      font-size: .9em;
    }
  }
}

@media screen and (min-width:1000px) {
  .donate-modal {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    .close-modal {
      display: flex;
      flex-direction: column;
      position: absolute;
      margin: 20px;
      width: 3em;
      height: 3em;
      right: 0;
      cursor: pointer;
      span {
        position: absolute;
        display: block;
        width: 2em;
        height: 1px;
        background-color: $black-op;
        margin: 0 auto;
        transform: rotate(45deg);
        &:after {
          position: relative;
          display: block;
          content: '';
          width: 100%;
          height: 1px;
          background-color: inherit;
          transform: rotate(90deg);
        }
      }
    }
    .modal-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: $gray;
      height: 100%;
      width: 35%;
      padding: 0;
      top: 0;
      left: -50%;
      position: fixed;
      z-index: 99999;
      transition: all .2s ease-in-Out;
      svg {
        margin-top: 0;
        display: block;
        width: 12em;
      }
      h1 {
        font-family: 'Playfair Display', serif;
        font-weight: 400;
        font-size: 1.2em;
        width: 80%;
        padding: 0 10%;
        text-align: center;
        margin: 60px 0 0 0;
        color: $black-op;
        line-height: 200%;
      }
    }
    .thank-you-full-width {
    position: absolute;
    width: 100%;
    height: 100vh;
    padding: 0;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
    
    .open-modal-sidebar {
      left: 0;
    }
    
    .modal-form-container {
      width: 60%;
      height: 100%;
      padding: 10px 2.5% 0 2.5%;
      display: block;
      margin-left: 35%;
      form {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-bottom: 0;
        .flex-input-container {
          display: flex;
          flex-direction: row;
          width: 100%;
        }
        h2 {
          font-family: 'Roboto', sans-serif;
          font-size: 1.5em;
          font-weight: 300;
          padding-top: 25px;
          color: $black-op;
        }
        input,
        textarea {
          width: 35%;
          padding: 10px;
          font-size: .8em;
          color: $black-op;
          font-weight: 300;
          margin-bottom: 5px;
          margin-right: 20px;
          border: 1px solid $light-gray;
        }
        .large-text-area {
          width: 60%;
          min-height: 100px;
        }
        .expiration-date,
        .cvc {
          width: 5em;
        }
        .secure-message {
          img {
            height: 1em;
            padding-right: 10px;
          }
          p {
            font-family: 'Roboto', sans-serif;
            color: $black-op;
            font-size: .8em;
            font-weight: 300;
            margin: 0;
          }
        }
      }
      .submit-donation-btn {
        display: flex;
        text-align: center;
        align-items: center;
        position: absolute;
        right: 5%;
        font-size: 1em;
        width: 150px;
      }
    }
  }
  .header {
    height: 80vh;
    .nav-bar {
      width: 70%;
      .desk-nav {
        display: flex;
        ul {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          list-style-type: none;
          li {
            a {
              padding: 20px 10px;
              font-size: .9em;
              color: $white;
              text-decoration: none;
              text-transform: uppercase;
              font-family: 'Roboto', sans-serif;
              font-weight: 300;
            }
          }
        }
      }
      .mobile-nav-btn {
        display: none;
      }
    }
    .header-content {
      top: 35%;
      h1 {
        font-size: 3em;
      }
      h2 {
        width: 30%;
      }
      .link-container {
        margin-top: 20px;
        a {
          display: flex;
          text-align: center;
          align-items: center;
          justify-content: center;
          width: 150px;
          padding: 12px 0;
          margin: 5px;
          color: $white;
          text-decoration: none;
          text-transform: uppercase;
          font-family: 'Roboto', sans-serif;
          font-weight: 300;
          font-size: .8em;
          background-color: none;
          border: 1px solid $white;
        }
        .donate-link {
          background-color: $mint;
          border: 1px solid $mint;
        }
      }
    }
  }
  .donate-now-bar {
    width: 70%;
    height: 80px;
    margin-top: -40px;
    .quick-donate-title {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $dark-blue;
      width: 20%;
      h1 {
        font-size: 1.2em;
        color: $white;
        font-family: 'Playfair Display', serif;
        font-weight: 400;
      }
    }
    .quick-donate-options {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40%;
      height: 100%;
      background-color: $light-blue;
      .checkbox {
        display: block;
        width: 1em;
        height: 1em;
        background-color: none;
        border: 1px solid $white;
        border-radius: 50%;
        margin: 0 .5em;
        cursor: pointer;
      }
      .checked {
        background-color: $mint;
        border: 1px solid $mint;
        background-image: url('http://www.harshath.com/glass-tester/icons/check.png');
        background-position: center;
        background-size: 90%;
      }
      p {
        display: inline-block;
        color: $white;
        font-size: .7em;
        font-weight: 300;
        font-family: 'Roboto', sans-serif;
        margin-right: 3.5em;
      }
    }
    form {
      width: 15%;
      input {
        height: 50px;
        font-size: .6em;
        &::placeholder {
          color: $white;
          opacity: .5;
        }
      }
    }
    a {
      width: 15%;
      font-size: .7em;
      height: 50px;
    }
  }
  .donation-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 0;
    background-color: $gray;
    .image-container {
      width: 50%;
      height: 450px;
      display: block;
      position: relative;
      overflow: hidden;
      left: -5%;
      transform: skewX(12deg);
      .donation-image {
        display: block;
        object-fit: cover;
        object-position: 0 0;
        width: 120%;
        height: 100%;
        transform: skewX(-12deg);
        left: 0;
      }
    }
    .donation-content {
      display: flex;
      justify-content: center;
      padding-left: 5%;
      padding-right: 10%;
      flex-direction: column;
      width: 40%;
    }
    h1 {
      text-align: left;
      font-weight: 400;
      font-size: 2em;
      font-family: 'Playfair Display', serif;
      margin: 0;
      padding-bottom: 5px;
    }
    p {
      text-align: left;
      font-family: 'Roboto', sans-serif;
      color: $black-op;
      line-height: 200%;
      font-size: .9em;
    }
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 150px;
      font-size: .8em;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 300;
      text-align: center;
      color: $white;
      background-color: $mint;
      height: 35px;
      margin-top: 10px;
    }
  }
}