.donate-modal
  .close-modal
    span
  .modal-info
    img(src="https://github.com/atloomer/atloomer.github.io/blob/master/img/donate-icon.png?raw=true")
    h1 Your donation goes towards creating a fun and memorable experience for children who have been touched by cancer.
  .modal-form-container
    form
      h2 Donation Amount
      input(type="text" placeholder="Enter Your Amount")
      h2 Your Information
      .flex-input-container
        input(type="text" placeholder="Name")
        input(type="text" placeholder="Email")
      h2 Credit Card Information
      .flex-input-container
        input(type="text" placeholder="Credit Card Number" disabled)
        input.expiration-date(type="text" placeholder="MM/YY" disabled)
        input.cvc(type="text" placeholder="CVC" disabled)
      .secure-message
        img(src="https://github.com/atloomer/atloomer.github.io/blob/master/img/secure-icon.png?raw=true")
        p Your information is protected by a verified SSL Certificate.
      h2 Leave us a Message!
      textarea.large-text-area(type="text" placeholder="Your Message")
    a(href="#").submit-donation-btn Donate
.mobile-menu
  ul.mobile-list
    li
      a.link-anim(href="#") About Us
    li
      a.link-anim(href="#") Volunteer
    li
      a.link-anim.donate-click(href="#") Donate
    li
      a.link-anim(href="#") Contact
img.background(src="https://scontent-sea1-1.xx.fbcdn.net/v/t31.0-8/11334167_1123030137713362_1807678511968149938_o.jpg?oh=2e3440f5d6490838d7b78499f148ccef&oe=59772EA0")
.header
  .nav-bar
    h3 Camp Journey
    .mobile-nav-btn
      span
    .desk-nav
      ul
        li
          a(href="#") About Us
        li
          a(href="#") Volunteer
        li
          a.donate-click(href="#") Donate
        li
          a(href="#") Contact
  .header-content
    h1 Camp Journey
    h2 Providing a community of hope for children and their families touched by cancer
    .link-container
      a.donate-link.donate-click(href="#") Donate Now
      a(href="#") Contact
.donate-now-bar
  .quick-donate-title
    h1 Donate Now
  .quick-donate-options
    .checkbox
    p $25
    .checkbox
    p $50
    .checkbox
    p $100
  form
    input(placeholder="Enter Amount")
  a.donate-click(href="#") Donate Amount
.about
  h1 About Us
  p Dealing with childhood cancer can sometimes make “just being a kid” seem out of reach—and out of scope for the whole family. At Camp Journey, our goal is to change that perception and that reality. In this nurturing, medically supervised home-away-from-home, young cancer survivors can leave their worries behind for one magical week and immerse themselves in a fun-filled outdoor camp experience tailored expressly to their needs. Meanwhile, their families and caregivers can rest easy, knowing that trained oncology staff is on-site 24/7.
.donation-info
  .image-container
    img.donation-image(src="https://scontent-sea1-1.xx.fbcdn.net/v/t31.0-8/15235741_1549375455078826_4292261376053692555_o.jpg?oh=458fa1ed0916806555ea4de285d2595b&oe=59AA6E42")
  .donation-content
    h1 How your donation helps
    p The donations of multiple caring individuals and organizations like you cover full operations for Camp Journey. One hundred percent of donations go toward creating a fun and memorable experience for children who have been touched by cancer. For a full list of needed program supplies and outdoor equiptment, click the link below.
    a(href="https://mrvanek97.wixsite.com/campjourney/donations" target="_blank") Learn More
.volunteer
    